---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
spec:
  ports:
    - port: {{ service_port }}
      targetPort: {{ service_port }}
  selector:
    app: {{ service_name }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ service_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ service_name }}
  template:
    metadata:
      labels:
        app: {{ service_name }}
    spec:
      containers:
        - name: {{ service_name }}
          image: {{ docker_username }}/{{ service_name }}:latest
          ports:
            - containerPort: {{ service_port }}
          env:
            - name: EUREKA_SERVER_ADDRESS
              value: "{{ eureka_service_address }}"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://mysql:3306/{{ db_name }}"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: password
            {% if service_name == 'auth-service' %}
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: secret
            {% endif %}
          imagePullPolicy: Always 