---
apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  type: LoadBalancer
  ports:
    - port: {{ gateway_port }}
      targetPort: {{ gateway_port }}
  selector:
    app: gateway

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: {{ docker_username }}/gateway:latest
          ports:
            - containerPort: {{ gateway_port }}
          env:
            - name: EUREKA_SERVER_ADDRESS
              value: "{{ eureka_service_address }}"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: secret
          imagePullPolicy: Always 